// place your custom styles here
:root {
  --content-width: 840px;
}

.navbar .logo {
  margin-right: 1.8rem;
}
.navbar .site-name {
  font-size: 15px;
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--text-color);
}

@media print {
  .navbar,
  .sidebar,
  .sidebar-mask,
  .page-edit,
  .page-nav {
    display: none !important;
  }
}