// place your custom styles here

.navbar .logo {
  margin-right: 1.8rem;
}
.navbar .site-name {
  font-size: 15px;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
  color: #0d237a;
}
